@charset "utf-8";

.Boxdata {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* 3 colunas com largura igual */
    grid-template-rows: repeat(4, 1fr);  /*  4 linhas com altura igual */
    gap: 0px;


    height: 531px;
    width: 375px;
    background-color: #FFFFFF;
    margin-top: -45px;
    border-radius: 5% 5% 5% 5%;
    filter: drop-shadow(0px -16px 40px rgba(0, 0, 0, 0.20));;
}

.container_sol_nuvem_padrao, .container_humidade_padrao, .container_pressao_padrao{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding-bottom: 45%;
    background-color: none;
    height: 55px;
}

.container_humidade_padrao {
    padding-bottom: 5%;
}

.container_pressao_padrao, .container_vento_padrao {
    padding-bottom: 4%;
    background-color: none;
    width: 120px;
}

.container_vento_padrao {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: 55px;
    width: 120px;
    background-color: none;
}



.sol_nuvem {
    position: relative;
    top: 43px;
}

.humidade {
    position: relative;
    top: 30px;
}

.pressao {
    position: relative;
    top: 30px;
}

.vento {
    position: relative;
    top: 30px;
}

.nome_pequeno {
    position: relative;
    top: -25px;
    font-size: 8px;
    color: #999999;
}


p {
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    font-family: 'Barlow';
    font-weight: 600;
    font-size: 18px;
}

.data_app {
    font-size: 10px;
    color: #999999;
    text-wrap:nowrap;
    text-indent: 20px;
}

.temp_fixa {
    font-size: 45px;
    font-weight: 800;
}

.container_seta {
    padding-bottom: 9px;
}

.imagem_seta {
    margin-left: -65px;
    height: 8px;
    width: 5px;
} 

.temp {
    background-color: none;
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    padding-left: 50%;
}